@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1 {
  @apply text-4xl font-bold tracking-tight;
  letter-spacing: -0.025em;
}

h2 {
  @apply text-2xl font-semibold tracking-tight;
  letter-spacing: -0.025em;
}

a {
  @apply transition-colors duration-200;
}
